@model waPruebaLogin.Models.catedratico

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>catedratico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_completo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_completo)
        </dd>
        <dt>Imagen</dt>
        <dd>
            @if (Model.dir_foto != "" && Model.dir_foto != null)
            {
                <img src="~/Uploads/catedraticos/@Model.dir_foto" height="80" />
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cod_catedratico }) |
    @Html.ActionLink("Back to List", "Index")
</p>
